Program dkk/flows.json
[{"id":"92ad3dc0.82148","type":"tab","label":"Flow 081721","disabled":false,"info":""},{"id":"5a14abb1.b9d8b4","type":"mqtt in","z":"92ad3dc0.82148","name":"","topic":"kolam1/suhu","qos":"2","datatype":"auto","broker":"1b9ee979.186737","x":170,"y":100,"wires":[["dc9e515a.82dda","63ca51df.5b796"]]},{"id":"2ba57fc7.0d767","type":"debug","z":"92ad3dc0.82148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":60,"wires":[]},{"id":"dc9e515a.82dda","type":"ui_gauge","z":"92ad3dc0.82148","name":"","group":"5a9220f4.cbfcd","order":2,"width":0,"height":0,"gtype":"donut","title":"","label":"Celcius","format":"{{value}}","min":0,"max":"50","colors":["#e6e600","#00b500","#ca3838"],"seg1":"24","seg2":"28","x":350,"y":140,"wires":[]},{"id":"ccc5856b.c5cee8","type":"mqtt in","z":"92ad3dc0.82148","name":"","topic":"kolam1/ph","qos":"2","datatype":"auto","broker":"1b9ee979.186737","x":160,"y":280,"wires":[["be9cbbfb.9f8d08","7374f913.055178"]]},{"id":"8ff60bcd.b23b28","type":"mqtt in","z":"92ad3dc0.82148","name":"","topic":"kolam1/tds","qos":"2","datatype":"auto","broker":"1b9ee979.186737","x":160,"y":400,"wires":[["ada820d0.d19ab","7baa4417.bbd27c"]]},{"id":"be9cbbfb.9f8d08","type":"ui_gauge","z":"92ad3dc0.82148","name":"","group":"e2807fea.bc874","order":2,"width":"0","height":"0","gtype":"gage","title":"","label":"","format":"{{value}}","min":"0","max":"14","colors":["#e6e600","#00b500","#ca3838"],"seg1":"6,5","seg2":"7,5","x":350,"y":320,"wires":[]},{"id":"ada820d0.d19ab","type":"ui_gauge","z":"92ad3dc0.82148","name":"","group":"987faec3.52c5b","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":" ppm","format":"{{value}}","min":0,"max":"1000","colors":["#00b400","#e6e600","#ca3838"],"seg1":"300","seg2":"600","x":350,"y":440,"wires":[]},{"id":"f4801df0.0fa4c","type":"influxdb out","z":"92ad3dc0.82148","influxdb":"43956efa.c7d3d","name":"suhu1","measurement":"suhu1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":650,"y":100,"wires":[]},{"id":"63ca51df.5b796","type":"change","z":"92ad3dc0.82148","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":100,"wires":[["e3b18d1b.f5f09"]]},{"id":"e3b18d1b.f5f09","type":"function","z":"92ad3dc0.82148","name":"load","func":"var suhu = msg.payload\n\nmsg.payload =\n{\n    numValue : suhu,\n    //strValue : \"Sensor Suhu\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":100,"wires":[["2ba57fc7.0d767","f4801df0.0fa4c"]]},{"id":"a8eb429b.a55cb","type":"debug","z":"92ad3dc0.82148","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":240,"wires":[]},{"id":"52a3a581.c65a0c","type":"influxdb out","z":"92ad3dc0.82148","influxdb":"43956efa.c7d3d","name":"ph1","measurement":"ph1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":650,"y":280,"wires":[]},{"id":"7374f913.055178","type":"change","z":"92ad3dc0.82148","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":280,"wires":[["f107d7a1.b02fa8"]]},{"id":"f107d7a1.b02fa8","type":"function","z":"92ad3dc0.82148","name":"load","func":"var ph = msg.payload\n\nmsg.payload =\n{\n    numValue : ph,\n    //strValue : \"Sensor Suhu\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["a8eb429b.a55cb","52a3a581.c65a0c"]]},{"id":"b8e2a098.0fc92","type":"debug","z":"92ad3dc0.82148","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":360,"wires":[]},{"id":"c8d362ce.82e2b","type":"influxdb out","z":"92ad3dc0.82148","influxdb":"43956efa.c7d3d","name":"tds1","measurement":"tds1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":650,"y":400,"wires":[]},{"id":"7baa4417.bbd27c","type":"change","z":"92ad3dc0.82148","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":400,"wires":[["9d00cc5d.56657"]]},{"id":"9d00cc5d.56657","type":"function","z":"92ad3dc0.82148","name":"load","func":"var tds = msg.payload\n\nmsg.payload =\n{\n    numValue : tds,\n    //strValue : \"Sensor Suhu\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":400,"wires":[["b8e2a098.0fc92","c8d362ce.82e2b"]]},{"id":"1b9ee979.186737","type":"mqtt-broker","z":"","name":"RaspberryPi","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5a9220f4.cbfcd","type":"ui_group","z":"","name":"Suhu","tab":"fbaa65c3.a43b88","order":1,"disp":true,"width":6,"collapse":false},{"id":"e2807fea.bc874","type":"ui_group","z":"","name":"Tingkat pH","tab":"fbaa65c3.a43b88","order":2,"disp":true,"width":6,"collapse":false},{"id":"987faec3.52c5b","type":"ui_group","z":"","name":"Kekeruhan Air Kolam","tab":"fbaa65c3.a43b88","order":3,"disp":true,"width":"6","collapse":false},{"id":"43956efa.c7d3d","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"KUALITAS","name":"Kualitas","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"fbaa65c3.a43b88","type":"ui_tab","z":"","name":"Kolam 1","icon":"dashboard","disabled":false,"hidden":false}]